<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi Cancelada!!</p>
<p>Dados da Matrícula</p>
<p>
   <strong>Plano: </strong>{{ plan }} <br />
   <strong>Data início: </strong>{{ start_date }} <br />
   <strong>Data fim: </strong>{{ end_date }}<br />
   <strong>Valor: </strong>{{ price }}<br />
<br />
<small>Aguardamos seu retorno para uma nova matrícula.</small>
</p>